- name: Ensure cloud-init directory exists
  become: true
  ansible.builtin.file:
    path: "{{ base_path_cloudinit }}"
    state: directory

- name: Copy cloud init template
  become: true
  ansible.builtin.template:
    src: cloud-init.yaml.j2
    dest: "{{ base_path_cloudinit }}/cloud-init.yaml"
  notify: validate_cloud_init

- name: Copy metadata
  become: true
  ansible.builtin.template:
    src: meta-data.yaml.j2
    dest: "/tmp/meta-data.yaml"
