- name: Create cloud-init ISO
  become: true
  # Command explanation:
  # -volid cidata
  #   => Cloud-init looks for an ISO with volume ID cidata to read user-data and meta-data.
  # -joliet
  #   =>  Enables Joliet extensions, which allow filenames longer than the old ISO
  # -rocky
  #   => Rock Ridge allows Linux systems to preserve file permissions
  ansible.builtin.command:
    cmd: >
      genisoimage 
      --output {{ base_path_image_seeds }}/{{ vm_name }}.iso
      -volid cidata -joliet -rock
      {{ base_path_cloudinit }}/user-data
      /tmp/meta-data

- name: Create VM disk
  command: >
    qemu-img create 
    -f qcow2 -F qcow2
    -b {{ base_path_image_bases }}/{{ vm_base_name }}
    {{ base_path_images }}/{{ vm_name }}.qcow2 {{ disk_size }}
  args:
    creates: "{{ base_path_images }}/{{ vm_name }}.qcow2"
