- name: Ensure cloud-init directory exists
  become: true
  ansible.builtin.file:
    path: "{{ base_path_cloudinit }}"
    state: directory

- name: Copy cloud init template
  become: true
  ansible.builtin.template:
    src: user-data.yaml.j2
    dest: "{{ base_path_cloudinit }}/user-data"
  notify: validate_cloud_init
  vars:
    public_key: "{{ lookup('ansible.builtin.file', public_key_path) }}"

- name: Copy metadata
  become: true
  ansible.builtin.template:
    src: meta-data.yaml.j2
    dest: "/tmp/meta-data"

- name: Flush handlers
  meta: flush_handlers
