- name: Get list of running VMs
  community.libvirt.virt:
    command: list_vms
    state: running
  register: running_vms

- name: Get IPV4 from virsh
  ansible.builtin.shell:
    cmd: "virsh domifaddr {{ item }} | grep -oP '\\d+\\.\\d+\\.\\d+\\.\\d+'"
  loop: "{{ running_vms.list_vms }}"
  register: vm_ip_address

- debug: var=vm_ip_address
