<domain type='kvm'>
    <name>{{ vm_name }}</name>
    <memory unit='MiB'>{{ memory_mb }}</memory>
    <vcpu>{{ vcpus }}</vcpu>

    <os>
      <type arch='x86_64'>hvm</type>
    </os>

    <devices>
      <disk type='file' device='disk'>
        <driver name='qemu' type='qcow2'/>
        <source file='{{ base_path_images }}/{{ vm_name }}.qcow2'/>
        <target dev='vda' bus='virtio'/>
      </disk>

      <disk type='file' device='cdrom'>
        <source file='{{ base_path_image_seeds }}/{{ vm_name }}.iso'/>
        <target dev='sda' bus='sata'/>
        <readonly/>
      </disk>

      {% include "kvm/_network_" + network_interface + ".xml.j2"  %}

      <graphics type='vnc' port='-1'/>

      <serial type='pty'>
        <target port='0'/>
      </serial>

      <console type='pty'>
        <target type='serial' port='0'/>
      </console>

      {% if use_gpu %}
      {% for gpu_device in gpu_devices %}
      <hostdev mode='subsystem' type='pci' managed='yes'>
          <driver name='vfio'/>
          <source>
            <address
                domain='0x0000'
                bus='0x{{ gpu_device.split(":")[0] }}'
                slot='0x{{ gpu_device.split(":")[1].split(".")[0] }}'
                function='0x{{ gpu_device.split(".")'
            />
          </source>
      </hostdev>
      {% endfor %}
      {% endif %}

      <channel type='unix'>
        <source mode='bind'/>
        <target type='virtio' name='org.qemu.guest_agent.0'/>
      </channel>
    </devices>
</domain>
