#cloud-config
ssh_pwauth: true

users:
  - name: jirifilip
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false

chpasswd:
  expire: false
  users: |
    jirifilip:ubuntu
  plain_text: true
