#cloud-config
ssh_pwauth: true

users:
  - name: jirifilip
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false

chpasswd:
  expire: false
  users:
    - name: jirifilip
      password: ubuntu
      type: text
